<!-- <div class="card custom-card"> -->
<div>
    <div>
        <button type="button" class="close" mat-dialog-close>
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" style="padding: 0 2%;">
                <span class="profile-image">
                    <img alt="avatar" style="width: 100%; height: 100%; border: 4px solid #FE5A00;"
                        class="rounded-circle" [src]="fotoPerfil">
                </span>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <h3 class="text-center">Datos colaborador</h3>
                <mat-divider></mat-divider>
                <br>
                <div class="row">
                    <label class="label-informacion-reg-asis">Nombres: </label>
                    <span class="informacion-reg-asis">{{info?.colaborador}}</span>
                </div>
                <div class="row">
                    <label class="label-informacion-reg-asis">Identificación: </label>
                    <span class="informacion-reg-asis">{{info?.identificacion}}</span>
                </div>
                <mat-divider></mat-divider>
                <br>
                <div class="respuesta-informacion-reg-asis">
                    <span>{{info?.mensaje}}</span>
                </div>
            </div>
        </div>
    </div>
</div>