.label-informacion-reg-asis {
    font-size: 16px;
    font-weight: 500;
}

.informacion-reg-asis {
    font-size: 16px;
}

.respuesta-informacion-reg-asis {
    font-size: 22px;
    text-align: center;
    color: #FE5A00;
    font-weight: 500;
}