<div class="row text-center align-content-center align-items-center">
  <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">

        <div class="w-100 text-center align-content-center align-items-center">
          <div class="text-center mt-5"><img
            src="https://imagenes.enrolapp.ec/Archivos/Riasem/imagenes/LOGOENROLAPP_WEB.png"
            class="sign-favicon ht-70" alt="logo"></div>
          <h2 class="mt-5">¡Hola!</h2>
          <p class="d-inline-flex">Cuéntanos en que podemos ayudarte,
            será un gusto atender cualquier inquietud que tengas.</p>
          <p class="mt-5">Teléfono: 099 103 4489</p>
          <a class="email" [href]="mailText">Email: admin@enrolapp.ec</a>
      </div>

  </div>
</div>
