.pdf-body{
  height: 800px;
  width: 800px;
  padding: 20px;
  border: 1px solid black;
  // text-align: center;
  background-color: white;
  // justify-content: center;
  // align-items: center;
  // display: flex;
}

table{
  width: 100%;
}
td{
  justify-content: center;
  text-align: start;
  align-items: center;
}
