<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-1">
    <div class="card custom-card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div style="padding-top: 2px">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('1')">1</button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('2')">2</button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('3')">3</button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('4')">4</button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('5')">5</button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('6')">6</button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('7')">7</button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('8')">8</button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('9')">9</button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="borrarTodo()">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="numeroBoton('0')">0</button>
                            <button type="button" class="btn btn-outline-dark color-button-numeric-reg-asis"
                                (click)="enter()">
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" style="text-align: -webkit-center; min-height: 450px;">
                    <div style="width: 100%;">
                        <div class="text-center">
                            <label class="estilo-titulo-reg-asis">
                                Identificación
                            </label>
                            <input id="iptIdentificacion" #inputIdentificacion type="text" onfocus="blur();"
                                class="form-control inputHeightRegAsis" [formControl]="identificacion" maxlength="10"
                                style="font-size: 70px;" autocomplete="off" (keyup.enter)="inputPinNavigate()"
                                (click)="actualFocus = 1">
                            <div class="row">
                                <div class="col-9" style="text-align: left;">
                                    <ng-container class="invalid"
                                        *ngIf="identificacion.hasError('required') && identificacion?.touched">
                                        <small class="tx-danger" style="font-size: 20px;">Campo requerido</small>
                                    </ng-container>
                                    <ng-container class="invalid" *ngIf="identificacion.hasError('pattern')">
                                        <small class="tx-danger" style="font-size: 20px;">Ingrese solo números</small>
                                    </ng-container>
                                </div>
                                <div class="col-3">
                                    <mat-hint id="estilo-hint-identificacion" align="end">
                                        {{identificacion.value?.length}} / 10
                                    </mat-hint>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7 text-center">
                                <label class="estilo-titulo-reg-asis">
                                    Pin
                                </label>
                                <div>
                                    <div class="input-group mb-3">
                                        <input *ngIf="esMovil" id="iptPin" #inputPin
                                            [type]="ocultar ? 'password' : 'text'"
                                            class="form-control inputHeightRegAsis" [formControl]="pin"
                                            style="font-size: 70px;" autocomplete="new-password" onfocus="blur();"
                                            (keyup.enter)="registrar()" (click)="actualFocus = 2;">
                                        <input *ngIf="!esMovil" id="iptPin" #inputPin
                                            [type]="ocultar ? 'password' : 'text'"
                                            class="form-control inputHeightRegAsis" [formControl]="pin"
                                            style="font-size: 70px;" autocomplete="new-password"
                                            (keyup.enter)="registrar()" (click)="actualFocus = 2;">
                                        <span class="input-group-text" (click)="ocultar = !ocultar"
                                            style="background: #FFFFFF; cursor: pointer;">
                                            <i *ngIf="ocultar" class="fa fa-eye"></i>
                                            <i *ngIf="!ocultar" class="fa fa-eye-slash"></i>
                                        </span>
                                    </div>
                                    <div style="margin-top: -4%; text-align: left;">
                                        <ng-container class="invalid" *ngIf="pin.hasError('required') && pin?.touched">
                                            <small class="tx-danger" style="font-size: 20px;">Campo requerido</small>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5" style="margin-top: 49px;">
                                <button id="btnRegistrar" #buttonRegistrar style="margin-bottom: 7%; height: 100px;"
                                    class="btn btn-primary estilo-button-reg-asis"
                                    [disabled]="!identificacion.valid || !pin.valid" (click)="registrar()">
                                    Registrar Asistencia
                                </button>
                            </div>
                        </div>
                        <div class="text-center mt-1">
                            <span *ngIf="novedadMarcacion" class="mensajeNovedad">{{novedadMarcacion}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
