<app-toobar></app-toobar>
<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10 card-sigin-main py-4 justify-content-center mx-auto">
          <div class="card-sigin ">
            <div class="main-card-signin d-md-flex">
              <div class="wd-100p">
                <div class="d-flex mb-4 text-center"><img
                    src="https://imagenes.enrolapp.ec/Archivos/Riasem/imagenes/LOGOENROLAPP_WEB.png"
                    class="sign-favicon ht-170" alt="logo"></div>
                <div class="">
                  <div class="main-signup-header">

                    <h6 class="font-weight-normal mb-4">Ingresa tu número de identificación para iniciar tu suscripción
                    </h6>
                    <form action="/formulario">
                      <div class="form-group">
                        <input class="form-control" placeholder="Cédula o Pasaporte" type="text">
                      </div>
                      <button class="btn btn-primary btn-block">Continuar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
